{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container message-container pt-0">
  <div class="row mt-0 shadow-sm">
    <div class="col-md-4 border pr-0 bg-light">

      <!-- <div class="search">
          <input class="message-input" type="text" placeholder="search" />
          <i class="fa fa-search"></i>
      </div> -->
      <div class="text-left pt-3">
        <h5>Direct Messages</h5>
      </div>

      <div class="people-list pr-2">
        <div class="list message-ul">
          {% for thread in direct_message_threads %}
          <a href="{% url 'discover:direct_messages' pk=user.pk thread_pk=thread.pk %}">
            <div class="clearfix message-li border-top pt-2 pb-1">
            <div class="message-img">
              <img class="img-fluid" src="{{ thread.influencer.twitter_profile_picture.url }}" alt="avatar" />
            </div>

            <div class="about w-50">
              <div class="name no-wrap">{{ thread.influencer }}</div>
              <div class="status no-wrap">{% if thread.directmessage_set.last %}{{ thread.directmessage_set.last }}{% endif %}</div>
            </div>

          </div>
          </a>

          {% endfor %}
         <div class="border-top">
            <br>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-8 pl-0 pr-0 border-top border-right border-bottom">
      {% for thread in direct_message_threads %}
        {% if thread.pk == thread_pk %}
          <div class="chat">

            <div class="chat-header clearfix">
              <div class="message-img">
                <img class="img-fluid" src="{{ thread.influencer.twitter_profile_picture.url }}" alt="avatar" />
              </div>
              <div class="chat-about">
                <div class="chat-with">Direct message history with {{ thread.influencer }}</div>
                <div class="status">{% if thread.directmessage_set.last %}Latest message on {{ thread.directmessage_set.last.sent_at|date:"D d M Y" }} {{ thread.directmessage_set.last.sent_at|time:"g:i a" }}{% else %}No messages{% endif %}</div>
              </div>
            </div> <!-- end chat-header -->

            <div class="chat-history">
              <div class="message-ul">
                {% for message in thread.directmessage_set.all %}
                <div class="clearfix message-li">
                  {% if message.sent %}<div class="message-data align-right">{% else %}<div class="message-data align-left">{% endif %}
                    <span class="message-data-time" >
                      {% if now|date == message.sent_at %}
                        Today at {{ message.sent_at|time:"g:i a" }}
                      {% else %}
                        {{ message.sent_at|date:"D d M Y" }} {{ message.sent_at|time:"g:i a" }}
                      {% endif %}
                    </span>
                  </div>
                  {% if message.sent %}<div class="message my-message float-right">{% else %}<div class="message other-message float-left">{% endif %}
                    {{ message.text }}
                  </div>
                </div>
                {% endfor %}

              </div>

            </div> <!-- end chat-history -->

            <a id="chat-message"></a>
            <div class="chat-message">
              <form class="form-horizontal" action="{% url 'discover:direct_messages' pk=user.pk thread_pk=thread_pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="message-textarea clearfix border">
                  <div class="form__group">
                      {{ dm_form.text }}
                      <label for="id_text" class="form__label md-label">Message...</label>
                  </div>
                </div>
                <button type="submit" class="btn btn-outline-success btn-xs message-button">
                    Send
                </button>
              </form>
            </div> <!-- end chat-message -->

          </div> <!-- end chat -->

        {% endif %}
      {% endfor %}

  </div> <!-- end chat column -->
</div>
</div>
{% endblock %}

{% block footer %}
  <script src="{% static 'amplifai/js/dm.js' %}"></script>
  <script src="{% static 'amplifai/js/discover.js' %}"></script>
  <script src="{% static 'amplifai/js/social.js' %}"></script>
{% endblock %}
