{% extends "base.html" %}
{% load staticfiles %}
{% load app_filters %}

{% block head %}
{% endblock %}

{% block body %}
<!-- <div class="container pt-4">
  <div class="jumbotron jumbotron-fluid bg-white border-bottom">
    <div class="container">
      <h1 class="display-4">Promote</h1>
      <p class="lead">Manage your social post promotion using Amplifai to precisily<br>
          target your content to social media users who are interested in your sound.</p>
    </div>
  </div>
</div> -->
<div class="container pt-4">
  <div class="pl-3 pb-3">
    <h4>Latest</h4>
  </div>
  <div class="row">
    {% for x in social_posts reversed %}
      {% if forloop.counter0 == 0 %}
        <div class="col-12 mb-5 pb-5 border-bottom">
          <div class="row mb-4 h-100 mr-2 ml-1 shadow-sm border">
            <!-- left side info -->
            <div class="col-lg-4 col-md-12 pr-0 pl-0 border-right">
              <div class="card bg-light p-0 social-post-card h-100">
                <div class="card-body p-0">
                  <div class="square-image">
                    <img src="{{ x.0.media.url }}" alt="" class="img-fluid">
                  </div>
                  <!-- <div class="thumb-400" style="background-image: url(' {{ x.0.media.url }} ');"></div> -->
                  <div class="social-post-text-area">
                    <p>{{ x.0.text }}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end left side info -->

            <!-- right side info -->
            <div class="col-lg-8 col-md-12 p-0">
              <div class="card h-100">
                <div class="row p-0 m-0">
                  <div class="col p-0 m-0 influencer-info-icon">
                    <span class="">
                      <a href="{% url 'social:promote_details' pk=user.pk social_post_pk=x.0.pk %}"><i class="fa fa-lg fa-info-circle"></i></a>
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="card-body pt-0 pb-3 h-100">
                    <div class="row h-100">
                      <div class="col-6 organic-col">
                        <div class="row pl-2 ml-2 pb-2 pt-2">
                          <h5>Organic</h5>
                        </div>
                        <div class="row">
                          <div class="linear-prog-area">
                            <div class="linear-progress linear-absolute-progress" data-prog-numerator="{{ x.0.twitter_followers|add:x.0.instagram_followers|add:x.0.facebook_followers }}" data-prog-denominator="{{ max_followers.followers_sum__max }}"">
                              <div></div>
                              <h6 class="progress-title">Followers</h6>
                            </div>
                          </div><!-- linear-prog-area-->
                        </div>
                        <div class="row">
                          <div class="linear-prog-area">
                            <div class="linear-progress linear-absolute-progress" data-prog-numerator="{{ x.0.twitter_engagements|add:x.0.instagram_engagements|add:x.0.facebook_engagements }}" data-prog-denominator="{{ max_engagements.engagements_sum__max }}"">
                              <div></div>
                              <h6 class="progress-title">Engagements</h6>
                            </div>
                          </div><!-- linear-prog-area-->
                        </div>
                        <div class="row pl-2 ml-2 pb-2 pt-2">
                          <h5>Paid</h5>
                        </div>
                        <div class="row">
                          <div class="linear-prog-area">
                            <div class="linear-progress linear-absolute-progress" data-prog-numerator="{{ x.1 }}" data-prog-denominator="{{ max_paid_followers }}"">
                              <div></div>
                              <h6 class="progress-title">Followers</h6>
                            </div>
                          </div><!-- linear-prog-area-->
                        </div>
                        <div class="row">
                          <div class="linear-prog-area">
                            <div class="linear-progress linear-absolute-progress" data-prog-numerator="{{ x.2 }}" data-prog-denominator="{{ max_paid_engagements }}"">
                              <div></div>
                              <h6 class="progress-title">Engagements</h6>
                            </div>
                          </div><!-- linear-prog-area-->
                        </div>
                        <div class="row">
                          <div class="linear-prog-area">
                            <div class="linear-progress linear-minmax-progress" data-prog-numerator="{{ x.4 }}" data-prog-denominator="{{ max_min_cpf }}" data-prog-min="{{ min_cpf }}">
                              <div></div>
                              <h6 class="progress-title">Cost/Follower</h6>
                            </div>
                          </div><!-- linear-prog-area-->
                        </div>
                        <div class="row">
                          <div class="linear-prog-area">
                            <div class="linear-progress linear-minmax-progress" data-prog-numerator="{{ x.5 }}" data-prog-denominator="{{ max_min_cpe }}" data-prog-min="{{ min_cpe }}">
                              <div></div>
                              <h6 class="progress-title">Cost/Engagement</h6>
                            </div>
                          </div><!-- linear-prog-area-->
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="row pl-3 pb-3 pt-2">
                          <h5>Manage Post Budget</h5>
                        </div>
                        <div>
                          <div class="card-body stats-card">
                            <div class="row">
                              <div class="col-12">
                                <table style="width: 100%; height: 100%;">
                                  <tbody>
                                    <tr>
                                      <td><h6>Total Budget:</h6></td><td><h6>${{ x.6 }}</h6></td>
                                    </tr>
                                    <tr>
                                      <td><h6>Total Spend:</h6></td><td><h6>${{ x.4 }}</h6></td>
                                    </tr>
                                    <tr>
                                      <td><h6>Remaining Budget:</h6></td><td><h6>${{ x.6|subtract:x.4 }}</h6></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="col-12 pl-5 pr-5 pt-1">
                                <form class="form-horizontal" action="{% url 'social:promote' pk=user.pk %}" method="POST" enctype="multipart/form-data">
                                  <div class="row mb-4 mt-3">
                                    <div class="form__group w-100">
                                      {{ social_post_promotion_form.budget }}
                                      <label for="id_social_post_promotion_form-budget" class="form__label md-label">Add Budget ($USD)</label>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div id="parent">
                                      <div id="child-btn" class="text-left">
                                        <button type="submit" class="btn btn-outline-success btn-xs">
                                          Promote Post
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- end promotion post accordion -->
            </div><!-- end right side info -->
          </div>
        </div>
        <div class="col-12 pl-3 pb-3">
          <h4>Recent</h4>
        </div>
      {% else %}
        <div class="col-lg-6 col-md-12 pb-5">
          <div class="row mb-4 h-100 mr-2 ml-1 shadow-sm border">
            <!-- left side info -->
            <div class="col-md-6 col-sm-12 pr-0 pl-0 border-right">
              <div class="card bg-light social-post-card p-0 h-100">
                <div class="card-body p-0">
                  <div class="square-image">
                    <img src="{{ x.0.media.url }}" alt="" class="img-fluid">
                  </div>
                  <div class="social-post-text-area">
                    <p>{{ x.0.text }}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end left side info -->

            <div class="col-md-6 col-sm-12 pr-0 pl-0">
              <div class="card h-100">
                <span class="influencer-info-icon">
                  <a href="{% url 'social:promote_details' pk=user.pk social_post_pk=x.0.pk %}"><i class="fa fa-lg fa-info-circle"></i></a>
                </span>
                <div class="card-body pt-4 pr-2 pl-2 pb-1">
                  <div class="col h-100">
                    <div class="linear-prog-area">
                      <div class="linear-progress linear-absolute-progress" data-prog-numerator="{{ x.0.twitter_followers|add:x.0.instagram_followers|add:x.0.facebook_followers }}" data-prog-denominator="{{ max_followers.followers_sum__max }}"">
                        <div></div>
                        <h6 class="progress-title">Followers</h6>
                      </div>
                    </div><!-- linear-prog-area-->
                    <div class="linear-prog-area">
                      <div class="linear-progress linear-absolute-progress" data-prog-numerator="{{ x.0.twitter_engagements|add:x.0.instagram_engagements|add:x.0.facebook_engagements }}" data-prog-denominator="{{ max_engagements.engagements_sum__max }}"">
                        <div></div>
                        <h6 class="progress-title">Engagements</h6>
                      </div>
                    </div><!-- linear-prog-area-->

                    <div class="pl-4 pr-4">
                      <form class="form-horizontal" action="{% url 'social:promote' pk=user.pk %}" method="POST" enctype="multipart/form-data">
                        <div class="row mb-4 mt-4">
                          <div class="form__group w-100">
                            {{ social_post_promotion_form.budget }}
                            <label for="id_social_post_promotion_form-budget" class="form__label md-label">Add Budget ($USD)</label>
                          </div>
                        </div>
                        <div class="row">
                          <div id="parent">
                            <div id="child-btn text-left">
                              <button type="submit" class="btn btn-outline-success btn-xs">
                                Promote Post
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

    {% endfor %}
  </div>

  <div class="row influencer-card-holder-bottom">
    <br>
  </div>
</div>

{% endblock %}

{% block footer %}
<script src="{% static 'amplifai/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'amplifai/js/progressbar.min.js' %}"></script>
<script src="{% static 'amplifai/js/promote.js' %}"></script>
{% endblock %}
