<div class="form-group">
  <div class="row">
    {% for field in album_form %}
    <div class="col-sm-12 col-md-6 add-album-form-col">
      <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger small">{{ field.errors }}</span>
        {% if field.label == 'Album logo' %}
          <span class="text-danger small" id="form-error-album-logo"></span>
        {% endif %}
      </div>
        {% if field.label == 'Album logo' %}
        <div class='file-input form__group'>
          {{ field }}
          <span class='button'>Choose</span>
          <label class='label' data-js-label>{{ field.label }}</label>
        </div>
        {% else %}
          <div class="col-sm-10">
            <div class="form__group">
              {{ field }}
              <label class="form__label md-label" for="id_album_title">{{ field.label }}</label>
            </div>
          </div>
        {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
