<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width"> -->
    <title>Amplifai</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'amplifai/images/amplifai_symbol.png' %}">

    <!-- ORIGINAL BOOSTRAP JQUERY STUFF -->
    <!-- Boostrap Support -->
    <!-- jquery needs to go before bootstrap.... -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- End Bootstrap Support -->
    <!-- END ORIGINAL BOOSTRAP JQUERY STUFF -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!-- Load fonts -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- load style sheet -->
    <link rel="stylesheet" href="{% static 'amplifai/css/master.css' %}">


    {% block head %}
    {% endblock %}

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'amplifai/images/amplifai_logo2.png' %}" type="image/png" width="140" height="40" class="d-inline-block align-mid" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsingNavbar">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
                <li class="nav-item active">
                  <a href="{% url 'discover:influencers' pk=user.pk %}" class="nav-link">Connect</a>
                </li>
                <li>
                  <a href="{% url 'social:create_post' pk=user.pk %}" class="nav-link">Create</a>
                </li>
                <li>
                  <a href="{% url 'social:promote' pk=user.pk %}" class="nav-link">Promote</a>
                </li>
                <li>
                  <a href="{% url 'discover:direct_messages' pk=user.pk thread_pk=0 %}" class="nav-link"><i class="fa fa-lg fa-inbox"></i></a>
                </li>
                <li>
                  <a href="{% url 'accounts:profile' pk=user.pk %}" class="nav-link"><i class="fa fa-lg fa-user-circle"></i></a>
                </li>
                <li>
                  <a href="{% url 'accounts:logout' %}" class="nav-link">Log out</a>
                </li>
          {% else %}
                <!-- <li class="nav-item active">
                  <a href="{% url 'home' %}" class="nav-link">Products</a>
                </li> -->
                <li class="nav-item">
                  <a href="{% url 'accounts:login' %}" class="nav-link">Who We Are</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'accounts:login' %}" class="nav-link">Faq</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'accounts:login' %}" class="nav-link">Sign In</a>
                </li>
                <li class="nav-item">
                    <a id="signUpLink" href="{% url 'accounts:signup' %}" class="nav-link">Sign Up</a>
                </li>
          {% endif %}
        </ul>
      </div>
  </nav>

  <!-- <div class="container mycontent"> -->
    {% block body %}
    {% endblock %}
  <!-- </div> -->

  <!-- Begin Footer -->
  {% if not user.is_authenticated %}
    <div class="container">
      <div class="footer_trust_top">
        <p>AS FEATURED IN</p>
        <div class="trustlogos"></div>
      </div>

      <div class="row">
        <div class="col">
          <h4>Find Out More</h4>
          <ul class="footer_list">
            <li><a href="">About Us</a></li>
            <li><a href="">Reviews</a></li>
            <li><a href="">FAQ's</a></li>
            <li><a href="">Policies</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>
        </div>

        <div class="col">
          <h4>Useful Links</h4>
          <ul class="footer_list">
            <li><a href="">About Us</a></li>
            <li><a href="">Reviews</a></li>
            <li><a href="">FAQ's</a></li>
            <li><a href="">Policies</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>
        </div>

        <div class="col">
          <h4>Contact Us</h4>
          <p>We're ready to help!</p>
          <ul class="footer_list">
            <li>USA | CANADA</li>
            <li class="phone">+1 555 555 5555</li>
            <li>UK | IRELAND</li>
            <li class="phone">+555 5 555 5555</li>
          </ul>
        </div>
      </div>

      <div class="footer_bottom">
        <div class="col-lg-3 col-md-12 footer_copyright">
          <p>©2018 All rights reserved.</p>
        </div>
      </div>
    </div>
  {% else %}
    <div class="bg-light">
      <div class="container mt-5">
        <div class="row pt-5">
          <div class="col">
            <h4>Find Out More</h4>
            <ul class="footer_list">
              <li><a href="">About Us</a></li>
              <li><a href="">Reviews</a></li>
              <li><a href="">FAQ's</a></li>
              <li><a href="">Policies</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>

          <div class="col">
            <h4>Useful Links</h4>
            <ul class="footer_list">
              <li><a href="">About Us</a></li>
              <li><a href="">Reviews</a></li>
              <li><a href="">FAQ's</a></li>
              <li><a href="">Policies</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>

          <div class="col">
            <h4>Contact Us</h4>
            <p>We're ready to help!</p>
            <ul class="footer_list">
              <li>USA | CANADA</li>
              <li class="phone">+1 555 555 5555</li>
              <li>UK | IRELAND</li>
              <li class="phone">+555 5 555 5555</li>
            </ul>
          </div>
        </div>

        <div class="footer_bottom">
          <div class="col-lg-3 col-md-12 footer_copyright">
            <p>©2018 All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>

  {% endif %}
  <!-- End Footer -->

  </body>
  <script src="{% static 'amplifai/js/master.js' %}"></script>
  <script src="{% static 'Parallax-ImageScroll-master/jquery.imageScroll.js' %}"></script>
  <script>
      $('.img-holder').imageScroll({
//            image: null,
//            imageAttribute: 'image',
//            container: $('body'),
//            windowObject: $(window),
//            speed:.2,
         coverRatio:.85,
//            coverRatio:1,
//            holderClass: 'imageHolder',
         imgClass: 'img-holder-img',
         // holderMinHeight: 500,
//            holderMaxHeight: null,
//            extraHeight: 50,
         // mediaWidth: 16,
         // mediaHeight: 9,
//            parallax: true,
//            touch: false
      });
  </script>

  <!-- <div class="container mycontent"> -->
    {% block footer %}
    {% endblock %}
  <!-- </div> -->

</html>
