{% extends "registration/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block formcontent %}
    <div class="container login-signup-form">
        <h1>Welcome Back</h1>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Login" class="btn btn-default">
        </form>
    </div>
{% endblock %}

{% block imagecontent %}
    <div class="container">
        <img id="signupImage" src="{% static 'amplifai/images/cool_female_musician.jpg' %}" alt="">
    </div>
{% endblock %}
